page-no-tipskesehatan {

    .img{
        width: 90px !important;
        height: 70px !important;
    }

    .h3{
        text-align: justify;
    }

    .item{
        margin-top: 0px !important;
    }

}
