<ion-header>
  <ion-navbar color="green">
    <ion-title> Edit Profile</ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()" >
        Close
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="updateUser()" >
        <ion-icon name="checkmark" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input type="text" [(ngModel)]="user_nama"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="user_email"></ion-input>
      </ion-item>
        
</ion-content>
