<ion-header>
    <ion-navbar color="green">
      <ion-title> Change Password</ion-title>
      <ion-buttons start>
        <button ion-button (click)="close()" >
          Close
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button (click)="updatePassword()" >
          <ion-icon name="checkmark" color="light"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
      <ion-item>
          <ion-label stacked>Old Password</ion-label>
          <ion-input type="text" [(ngModel)]="user_oldpassword"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label stacked>New Password</ion-label>
          <ion-input type="password" [(ngModel)]="user_newpassword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="user_confirmpassword"></ion-input>
        </ion-item>
          
  </ion-content>
  