page-home-user {

    .card-title-menu {
      position: relative;
      top: 36%;
      font-size: 10pt;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-align: left;
      }

      .ion-card-menu{
        width: auto !important;
        margin: 0 !important;
        border-right: 1px solid rgb(31, 172, 150);
      }

      .ion-card-menu1{
        width: 150px !important;
        margin: 0 !important;
        border-left: 1px solid rgb(31, 172, 150);
      }

      .ion-card-menu-tips{
        width: 300px !important;
        margin: 0 !important;
        border-bottom: 3px solid rgb(31, 172, 150);
      }

      .style-tips{
        justify-content: center;
        align-items: center
      }

      .circle-pic{
        width:30px;
        height:30px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active{
      background-color: rgb(31, 172, 150); 
   }  

}
