<ion-header>
  <ion-navbar color="green">
    <ion-title>Kuy-SEHAT</ion-title>
    <ion-buttons end>
      <button ion-button (click)="profile()" >
        <img src="../../../assets/imgs/profile/{{userimg}}" class="circle-pic" end>
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center style="height: 100%">

        <ion-item>
            <ion-slides pager>   
                <ion-slide *ngFor="let item of tips" (click)="tipsDetail(item)">
                  <img src="./../../assets/imgs/tipskesehatan/{{item.tips_gambar}}">
                  <div class="card-title-menu" text-wrap ion-text color="green">{{item.tips_judul}}</div>
                </ion-slide>            
            </ion-slides>
         </ion-item>
      
      <ion-list>
        <ion-item>
          <tr>
            <td>
              <ion-card class="ion-card-menu" (click)="user_forumDiskusi()">
                 <ion-item>
                     <ion-avatar item-start>
                       <img src="../../assets/imgs/menu_home/home_discus.png">
                     </ion-avatar>
                     <h3 text-wrap>Forum Diskusi</h3>
                   </ion-item>
              </ion-card>
            </td>
            <td>
               <ion-card class="ion-card-menu1" (click)="user_tanyadokter()">
                  <ion-item>
                      <ion-avatar item-start>
                        <img src="../../assets/imgs/menu_home/home_doctor.png">
                      </ion-avatar>
                      <h3 text-wrap>Tanya Dokter</h3>
                    </ion-item>
               </ion-card>
             </td>
          </tr>
        </ion-item>

        <ion-item>
          <tr>
            <td>
                <ion-card class="ion-card-menu" (click)="user_tipskesehatan()" >
                    <ion-item>
                        <ion-avatar item-start>
                          <img src="../../assets/imgs/menu_home/home_tips.png">
                        </ion-avatar>
                        <h3 text-wrap>Tips Kesehatan</h3>
                      </ion-item>
                 </ion-card>
            </td>  
            <td>
                    <ion-card class="ion-card-menu1" (click)="user_artikel()" >
                       <ion-item>
                           <ion-avatar item-start>
                             <img src="../../assets/imgs/menu_home/home_article.png">
                           </ion-avatar>
                           <h3 text-wrap>Artikel Sehat</h3>
                         </ion-item>
                    </ion-card>
            </td>
          </tr>            
        </ion-item>
      </ion-list>

    </ion-row>
  </ion-grid>
</ion-content>
