<ion-header>
  <ion-navbar color="green">
    <ion-title>Cek Tanya Dokter</ion-title>
    <ion-buttons start>
        <button ion-button (click)="close()" >
          Close
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let item of tanya_dokter" > 
    <ion-item>
      <ion-avatar item-start>
        <img src="../../../assets/imgs/profile/{{item.fotopenanya}}">
      </ion-avatar>
      <h3 text-wrap>{{item.namapenanya}}</h3>
    </ion-item>
    <ion-card-content>
        <p>{{item.isipertanyaan}}</p>
    </ion-card-content>
    
    <ion-item>
        <strong>Answer :</strong>
    </ion-item>
    <ion-item>
        <ion-avatar item-start>
          <img src="../../../assets/imgs/img_doct/{{item.fotodokter}}">
        </ion-avatar>
        <h3 text-wrap>{{item.namadokter}}</h3>     
    </ion-item>
    <ion-card-content>
        <p>{{item.jawabanpertanyaan}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
