<ion-header>
  <ion-navbar color="green">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let item of user">
      <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
            <ion-avatar class="img">
              <img src="../../../assets/imgs/profile/{{item.user_img}}" style="width: 150px; height: auto;">
            </ion-avatar>
        </ion-row>

        <ion-row justify-content-center align-items-center style="height: 100%">
          <h1 text-wrap class="h1">{{item.user_nama}}</h1>
        </ion-row>

        <ion-row justify-content-center align-items-center style="height: 100%">
          <p text-wrap class="h1">{{item.user_email}}</p>
        </ion-row>
      </ion-grid>
  </ion-item>

  <ion-list inset>
      <button ion-item (click)="tanyaDokter()">
        Cek Tanya Dokter
      </button>

      <button ion-item (click)="changeImage()">
        Change Image
      </button>

      <button ion-item (click)="changePassword()">
        Change Password
      </button>

      <button ion-item (click)="editProfile()">
        Edit Profile
      </button>     

      <button ion-item (click)="historyPost()">
        History Post
      </button>

      <button ion-button color="green" clear (click)="logOut()">
        Log Out
      </button>

  </ion-list>

</ion-content>
