<ion-header>
  <ion-navbar color="green">
    <ion-title>Tips Kesehatan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="judul">{{items.tips_judul}}</h2>
  <p class="tanggal">{{items.tips_tanggal | date:'dd/MM/yyyy'}}</p>
  <img src="../../../assets/imgs/tipskesehatan/{{items.tips_gambar}}">
  <p class="isi">{{items.tips_isi}}</p>

</ion-content>
