<ion-header>
  <ion-navbar color="green">
    <ion-title>Request Dokter</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">          
          <ion-avatar class="img">
            <img src="../../../assets/imgs/img_doct/{{items.img_dokter}}" style="width: 150px; height: auto;">
          </ion-avatar>
        </ion-row>

        <ion-row justify-content-center align-items-center style="height: 100%">
          <h1 text-wrap class="h1">{{items.nama_dokter}}</h1>
        </ion-row>

        <ion-row justify-content-center align-items-center style="height: 100%">
          <p text-wrap class="h1">{{items.jenis_dokter}}</p>
        </ion-row>
      </ion-grid>
  </ion-item>
   
  <ion-item>
    <tr>
      <td>
          <ion-icon name="school" icon-start></ion-icon>
      </td>
      <td>
          <p text-wrap class="p">{{items.pengalaman}}</p>
      </td>
    </tr>
  </ion-item>
  <ion-item>
      <tr>
        <td>
            <ion-icon name="school" icon-start></ion-icon>
        </td>
        <td>
            <p text-wrap class="p">{{items.pend_terakhir}}</p>
        </td>
      </tr>
    </ion-item>
  <ion-item>
    <tr>
      <td>
          <ion-icon name="pin" icon-start></ion-icon>
      </td>
      <td>
          <p text-wrap class="p">{{items.tempat_bekerja}}</p>
      </td>
    </tr>
  </ion-item>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-item>
          <ion-input type="text" [(ngModel)]="isiTanya" placeholder="Tanya Dokter ! " style="width: 10px;"></ion-input>
          <ion-buttons item-end class="button">
          <button ion-button (click)="tanya()" >
              <ion-icon item-end color="green" name="paper-plane" ></ion-icon>
          </button>
          </ion-buttons>
        </ion-item>  
    </ion-toolbar>
  </ion-footer>
