<ion-header>
  <ion-navbar color="green">
    <ion-title>Forum Diskusi</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

    <ion-list>
      <ion-item>
        <ion-textarea placeholder="What's On Your Mind ?" [(ngModel)]="postingan" ></ion-textarea>
      </ion-item>
      <button ion-button full medium color="green" (click)="addDiskusi()">Post</button>
    </ion-list>

  <ion-card *ngFor="let item of forumdiskusi" class="ion-card-diskusi">
    <ion-item>
      <ion-avatar item-start>
        <img src="../../../assets/imgs/profile/{{item.foto}}">
      </ion-avatar>
      <h2 text-wrap>{{item.nama}}</h2>
      <p>{{item.tanggal | date:'dd/MM/yyyy'}}</p>
    </ion-item>
    <ion-card-content>
      <p>{{item.diskusi}}</p>
    </ion-card-content>
    <ion-list>
      <button ion-button small clear full color="green" (click)="viewComment(item)" >View All Comment</button>
    </ion-list>
  </ion-card>

</ion-content>
