<ion-header>
  <ion-navbar color="green">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>       

        <ion-item>
          <ion-label stacked ion-text color="green">Nama</ion-label>
          <ion-input type="text" [(ngModel)]="nama" ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked ion-text color="green">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
      
        <ion-item>
          <ion-label stacked ion-text color="green">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked ion-text color="green">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-input type="file" [(ngModel)]="foto"></ion-input>
        </ion-item>

        <ion-item>
            <img src="">
        </ion-item>

        <button ion-button full color="green" (click)="addUser()" >Signup</button>
  </ion-list>

</ion-content>
